<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Cabin|Lobster"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/assets/landingpage.css" />

    <title>monsoon</title>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row justify-content-center upper">
        <div class="col-lg-12 col-md-12 col-sm-12 align-items-center intro">
          <div class="row justify-content-center">
            <img src="https://fontmeme.com/permalink/190107/0e7512fe2df9d5b3cf766319678794a0.png" class="img-fluid text-center" alt="">
          </div>
          
          <div class="row justify-content-center">
            <img src="https://fontmeme.com/permalink/190107/278fe61686240459881063d155e42658.png" class="img-fluid" alt="">
          </div>
          <div class="row justify-content-center list">
            <li>Indian</li>
            <li>Chinese</li>
            <li>Tandoor</li>
            <li>Malwani</li>
            <br />
            <li>Italian</li>
            <li>Dessert</li>
          </div>
        </div>
        <br />
        <div class="row justify-content-center">
          <div class="col-lg-12 col-md-12 col-sm-12 align-items-center">
            <img
              src="/public/images/plate.png"
              class="img img-fluid"
              width="250px"
              height="250px"
            />
          </div>
        </div>
      </div>
      <br />
      <div class="row justify-content-center">
        <div
          class="col-lg-12 col-md-12 col-sm-12 align-items-center strip"
        ></div>
      </div>
      <div class="row justify-content-center icon">
        <img src="/public/images/halal.png" width="200px" height="100px" />
      </div>
      <div class="row justify-content-center" style="padding-bottom: 20px;">
        <div class="col-lg-12 col-md-12 col-sm-12 content">
          <h3 class="text-center">FREE HOME DELIVERY IN CHIPLUN</h3>
          <a href="/menu" class="btn btn-md btn-light">Open Menu</a>
          <div class="row justify-content-center footer">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <p class="text-center contact">
                <span><i class="fas fa-phone"></i></span> 9422578443
              </p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 align-self-center">
              <p class="text-center p">Time: 11:30 am to 11:30 pm</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
              <img src="/public/images/map.png" class="img-fluid" width="100%" height="500px" alt="" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
              <p class="text-center p">
                <span><i class="fas fa-map-marker-alt"></i></span> CHIPLUN
                <br /><small class="text-center">
                  CRD Prime, Beside Dominos, <br />Paag Naka, Mumbai Goa
                  Highway, Chiplun.</small
                >
              </p>
            </div>

            <div class="row w-100 justify-content-center">
              <div class="col-lg-12 col-md-12 col-sm-12 links">
                <div class="col-lg-3 col-md-3 col-sm-6 email">
                  <a href="#"
                    ><span><i class="fas fa-envelope"></i></span
                  ></a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 facebook">
                  <a href="#"
                    ><span><i class="fab fa-facebook-square"></i></span
                  ></a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 instagram">
                  <a href="#"
                    ><span><i class="fab fa-instagram"></i></span
                  ></a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 twitter">
                  <a href="#"
                    ><span><i class="fab fa-tumblr-square"></i></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </body>
</html>
