<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Cabin|Lobster"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/assets/orderpage.css" />

    <title>confirm</title>
  </head>

  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12 col-sm-12 align-items-center intro">
          <div class="row justify-content-center">
            <img
              src="https://fontmeme.com/permalink/190107/0e7512fe2df9d5b3cf766319678794a0.png"
              class="img-fluid text-center"
              alt=""
            />
          </div>

          <div class="row justify-content-center">
            <img
              src="https://fontmeme.com/permalink/190107/278fe61686240459881063d155e42658.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-12 col-lg-12 order">
            <h3 class="text-center display-4"></h3>
          </div>
        
        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-12 col-lg-12 bill">
            <table class="table"></table>
          </div>
          <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-12 price">
              <p class="text-center"></p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-12 confirm">
              <button type="submit" class="btn btn-md btn-danger">
                Confirm
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="/public/assets/dbdata.js"></script>
  </body>
</html>
