<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Cabin|Lobster"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/assets/receiverpage.css" />
    <title>owner</title>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-sm-12">
          <div class="row justify-content-center">
            <img
              src="https://fontmeme.com/permalink/190107/0e7512fe2df9d5b3cf766319678794a0.png"
              class="img-fluid text-center"
              alt=""
            />
          </div>

          <div class="row justify-content-center">
            <img
              src="https://fontmeme.com/permalink/190107/278fe61686240459881063d155e42658.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </div>

      <div class="row  justify-content-center block"></div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="/public/assets/receiverpage.js"></script>
    <!-- <script src="/public/assets/receiverpage2.js"></script> -->
  </body>
</html>
